#lanes {
  display: flex;
  flex-direction: row;
  background-color: orange;
  width: 400px;
  height: 600px
}

#lanes li div {
  margin: 10px;
}

.sort-list {
  list-style: none;
  padding: 0px;
}

.sort-list li {
  list-decoration: none;
}
